<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zncm.mxgtd"
    android:installLocation="auto">


    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19"
        tools:overrideLibrary="com.gongwen.marqueen" />
    <application

        android:name="com.zncm.mxgtd.ui.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MXAppTheme">
        <activity
            android:name="com.zncm.mxgtd.ui.UIMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name="com.zncm.mxgtd.ui.PjActivity" />
        <activity android:name="com.zncm.mxgtd.ui.RdActivity" />
        <activity android:name="com.zncm.mxgtd.ui.PjAddActivity" />
        <activity
            android:name="com.zncm.mxgtd.ui.TextActivity"

            android:launchMode="singleTask" />
        <activity
            android:name="com.zncm.mxgtd.ui.SettingNew"
            android:label="设置"
            android:theme="@style/MyMaterialSettings" />
        <activity android:name="com.zncm.mxgtd.ui.TkAddActivity">


        </activity>
        <activity android:name="com.zncm.mxgtd.ui.ProjectDetailsActivity">

        </activity>

        <activity android:name="com.zncm.mxgtd.ui.SearchActivity" />
        <activity android:name="com.zncm.mxgtd.ui.TkDetailsActivity" />
        <activity android:name="com.zncm.mxgtd.ui.LikeActivity" />
        <activity
            android:name="com.zncm.mxgtd.ui.ItemDetailsActivity"
            android:launchMode="singleTask" />


        <activity
            android:name="com.zncm.mxgtd.ui.QuickAddActivity"
            android:theme="@style/AppTheme.Translucent" />
        <activity
            android:name="com.zncm.mxgtd.ui.ShareActivity"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.SEND"></action>

                <category android:name="android.intent.category.DEFAULT"></category>

                <data android:mimeType="text/*"></data>
            </intent-filter>
        </activity>


        <receiver android:name="com.zncm.mxgtd.receiver.RemindReceiver" />
    </application>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
</manifest>
